/* Light Mode Theme */

@import url("./root.css");
html:not(.dark) body {
  background: #f7f9fb;
}
html:not(.dark) #song-name {
  color: #191c1e !important;
}

html:not(.dark) input[type="range"]#volume-slider::-webkit-slider-thumb {
  background: #131b2e;
  border: 2px solid #f7f9fb;
  box-shadow: 0 0 0 1.5px #131b2e;
}

html:not(.dark) input[type="range"]#volume-slider::-moz-range-thumb {
  background: #131b2e;
  border: 2px solid #f7f9fb;
  box-shadow: 0 0 0 1.5px #131b2e;
}

html:not(.dark) #song-slider {
  accent-color: #131b2e;
}

html:not(.dark) #volume-slider {
  accent-color: #131b2e;
}

html:not(.dark) #album-songs li {
  color: #808ca8;
  font-weight: bold;
  background-color: #b8c3ff42;
}

html:not(.dark) #album-title {
  color: #aab2c5;
}
